.table
  height: 700px
  width: 700px
  background-color: #91959C
  display: table
  .row
    display: table-row
    .cell
      display: table-cell
      .element
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center